<template>
  <div id="home">
    <div id="bodynight">
      <HelloWorld />
      <h1 id="fznight">We are Redaco, Hello Dribble</h1>

      <img src="./image-white.svg" alt width="375px" />
      <center>
        <img src="./button-dribbble.png" alt />
      </center>
    </div>
  </div>
</template>

<style src="../redaco.scss" lang="scss">
</style>
