<template>
  <div id="app">
    <div id="nav">
      Redaco
      <router-link to="/">Day</router-link> |
      <router-link to="/about">Night</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style src="./redaco.scss" lang="scss">
</style>
