#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  max-width: 24rem;
}

#nav {
  padding: 30px;
  background-color: #FFFFFF;
  opacity: 1;
  font-size: 22px;

  a {
    font-weight: bold;
    color: #000000;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

@font-face {
  font-family: Monserrat;
  src: url(Montserrat-Bold.ttf);
}

#bodyday {
  background-color: #f5f5f5;
}

#fzday {
  font-family: Monserrat;
  font-size: 42px;
  margin: 2rem;
  font-weight: bold;
}

#bodynight {
  background-color: #2B3461;
}

#fznight {
  font-family: Monserrat;
  font-size: 42px;
  margin: 2rem;
  font-weight: bold;
  color: #E6E6E6;
}

#bola {
  top: 704px;
  left: 153px;
  width: 70px;
  height: 70px;
}

